

body{
	background-color: rgb(236, 236, 236);

}

.navbar-brand{
	font-family: 'Libre Baskerville';
}

.navbar{
	padding-bottom: 0%;
	margin-bottom: 0%;
}

li{
	font-family: 'Libre Baskerville';

}

.container{
	background-color: rgb(236, 236, 236);
	width: 100%;
	margin-left: 1%;
	margin-top: 1%;
}

.cecilystyling, .col-md-8, .col-md-7{
	background-color: #fff;
}

/*About Me*/
#cecilyphoto {
	width: 250px;
	height: 200px;
	display: inline-block;
	align-self: left;
	margin: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#aboutmetext{
	overflow-wrap: break-word;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 1px solid rgb(229, 229, 229);
	padding: 5px;

}

.first {
	font-family: 'Libre Baskerville', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: rgb(174, 169, 161);
	text-align: left;

	
}

/*Contact Me*/
#contactmetext{
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 1px solid rgb(229, 229, 229);
	padding-bottom: 3px;
}

input[type="text"] {
   
	
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: rgb(174, 169, 161);
	width: 250%;
}

span{
	 display: table-cell;
}

textarea{
	width: 100%;
}

#submitbutton{

	background-color: #4aaaa5;
	color: #fff;
	width: 18%;
	height: 30px;
	font-size: 18px;
	margin: 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	overflow: visible;
	

}

/*Connect With Me Box*/

.panel-title {
	color: #4aaaa5;
	text-align: center;
	border-bottom: 1px solid rgb(229, 229, 229);
	padding-bottom: 5px;
	font-family: "Libre Baskerville";
	
}

#sologo, #Githublogo, #LinkLogo {
	width: 10%;
	height: 10%;
	margin: 0 auto;
	position: relative;
	left: 30%;

}

.panel{
	margin-top: 5%;
	overflow: visible;
}

/*Portfolio Section*/
#portfoliohead{
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 1px solid rgb(229, 229, 229);
	padding-bottom: 5px;

}

.portfoliotext{
	background-color: #4aaaa5;
	text-align: center;
	position: absolute;
	color: #fff;
	font-size: 18px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	top: 70%;
	padding: 10px;
	width: 88%;
}

#cat1, #cat2, #cat3, #cat4, #cat5{
	width: 100%;
	height: 100%;
	padding-top: 5%;
}

#cat1, #cat3{
	
}

#cat2, #cat4{

}

/*footer section*/

#footersection{
	background-color: #666;
	width: 100%;
	padding: 5px;
	border-top: 5px solid #4aaaa5;
	position: fixed;
    bottom: 0;
    z-index: 100;
    
}

#footersectiontext {
	color: rgb(122, 134, 139);
	text-align: center;
	z-index: 100;
	font-family: 'Libre Baskerville';

}